body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}
a, button {
    transition: all .2s linear;
}
a:focus {
    text-decoration: none;
}
a:hover {
    color: #0070b8;
    text-decoration: none;
}
.main-header-page {
    padding: 20px 0;
    border-bottom: 4px solid #0070b8;
}
.header-logo-block img {
    width: 222px;
}
.header-flex-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-contact-block a {
    display: block;
    text-align: right;
    color: #0070b8;
}
.header-contact-block a:hover {
    color: #c42428;
}
.header-map-address i, .header-map-time i {
    color: #0070b8;
    font-size: 22px;
    margin-right: 3px;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #0074b8;
    font-weight: bold;
    font-size: 14px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #c42428;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #0074b8;
}
.owl-dot.active {
    background-color: #fff;
    border: 2px solid #0074b8;
    transform: scale(1.5);
}
.owl-dot {
    width: 10px;
    height: 10px;
    background-color: #0074b8;
    border-radius: 10em;
    display: inline-block;
    margin: 10px;
    transition: background-color .5s ease, transform .5s ease;
}
.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
.main-title {
    text-align: center;
}
.background-image-block {
    background-image: url("../images/mll.jpg");
    background-attachment: fixed;
    background-size: 100%;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: -10px;
}
.catalog-goods-block {
    display: flex;
    justify-content: space-between;
}
.catalog-good-item {
    width: 32%;
    padding: 10px;
    border: 1px solid #0074b8;
    border-radius: 4px;
}
.catalog-good-title {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}
.catalog-good-title a {
    color: #0074b8;
}
.catalog-good-title a:hover {
    color: #c42428;
}
.catalog-good-img:hover {
    transform: scale(1.01);
}
.catalog-good-img {
    transition: all .3s linear;
    overflow: hidden;
}
.catalog-good-img img {
    width: 100%;
}
.catalog-good-btn button {
    width: 100%;
    color: #fff;
    background-color: #0074b8;
    border: 2px solid #0074b8;
    padding: 10px;
    border-radius: 4px;
}
.catalog-good-btn button:hover {
    background-color: #fff;
    color: #0074b8;
}
@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
}
@media(max-width: 767px) {
    .navbar-toggle, .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #0074b8;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
}