body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}
a, button {
    transition: all .2s linear;
    color: #0074b8;
}
a:focus {
    text-decoration: none;
}
a:hover {
    color: #c42428;
    text-decoration: none;
}
.main-header-page {
    padding: 20px 0;
    border-bottom: 4px solid #0070b8;
}
.header-logo-block img {
    width: 311px;
}
.header-flex-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-contact-block a {
    display: block;
    text-align: right;
    color: #0070b8;
}
.header-contact-block a:hover {
    color: #c42428;
}
.header-map-address i, .header-map-time i {
    color: #0070b8;
    font-size: 22px;
    margin-right: 3px;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #0074b8;
    font-weight: bold;
    font-size: 14px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #c42428;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #0074b8;
}
.owl-dot.active {
    background-color: #fff;
    border: 2px solid #0074b8;
    transform: scale(1.5);
}
.owl-dot {
    width: 10px;
    height: 10px;
    background-color: #0074b8;
    border-radius: 10em;
    display: inline-block;
    margin: 10px;
    transition: background-color .5s ease, transform .5s ease;
}
.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
.main-title {
    text-align: center;
    margin-bottom: 30px;
}
.background-image-block {
    background-image: url("../images/mll.jpg");
    background-attachment: fixed;
    background-size: 100%;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.catalog-goods-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.catalog-good-item {
    width: 32%;
    padding: 10px;
    border: 1px solid #0074b8;
    border-radius: 4px;
    margin-bottom: 20px;
}
.catalog-good-title {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}
.catalog-good-title a {
    color: #0074b8;
}
.catalog-good-title a:hover {
    color: #c42428;
}
.catalog-good-img:hover {
    transform: scale(1.05);
}
.catalog-good-img {
    transition: all .3s linear;
    overflow: hidden;
}
.catalog-good-img img {
    width: 100%;
}
.catalog-good-btn button {
    width: 100%;
    color: #fff;
    background-color: #0074b8;
    border: 2px solid #0074b8;
    padding: 10px;
    border-radius: 4px;
}
.catalog-good-btn button:hover {
    background-color: #fff;
    color: #0074b8;
}
.iconblock-7 {
    margin: 20px 0;
    border: 1px solid #e9e9e9;
    width: 100%;
    padding: 12px;
    display: table;
}
.iconblock-7 .icon {
    display: table-cell;
    vertical-align: top;
    width: 60px;
    padding: 12px 12px 0 0;
    text-align: center;
}
.iconblock-7 .icon i {
    font-size: 32px;
    color: #FF7472;
    transition: all .4s;
    width: 32px;
    height: 32px;
}
.iconblock-7 h3 {
    transition: all 0.7s ease 0s;
    font-size: 22px;
    margin: 10px 0;
    padding-bottom: 16px;
}
.iconblock-7:hover .icon i {
    font-size: 48px;
    color: #c42428;
    transform: rotate(-360deg);
    width: 48px;
    height: 48px;
    opacity: 1;
}
.button-center a {
    padding: 10px 20px;
    border: 2px solid #0074b8;
    background-color: #0074b8;
    color: #fff;
    border-radius: 4px;
}
.button-center a:hover {
    background-color: #fff;
    color: #0074b8;
}
.button-center {
    text-align: center;
    margin-bottom: 60px;
}
.production-block {
    margin-bottom: 40px;
}
.contact-tel-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.contact-col-block {
    width: 33%;
}
.contact-col-block a {
    font-weight: bold;
}
button.close {
    font-size: 26px;
    z-index: 1;
    position: relative;
    right: 5px;
}
.owl-feedback-form input, .owl-feedback-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}
.owl-feedback-form a {
    background-color: #0074b8;
    padding: 10px;
    color: #fff;
    border: 2px solid #0074b8;
    border-radius: 4px;
    display: block;
    text-align: center;
}
.owl-feedback-form a:hover {
    color: #0074b8;
    background-color: #fff;
}
.footer-page {
    background-color: #0074b8;
    padding: 40px 0;
    margin-top: 50px;
}
.footer-flex-block {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.footer-flex-block a {
    color: #fff;
    display: block;
    margin-bottom: 10px;
}
.footer-address-item i {
    margin-right: 5px;
}
.footer-logo img {
    width: 222px;
}
.footer-copyright {
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.footer-copyright a {
    color: #fff;
}
.footer-copyright a:hover, .footer-flex-block a:hover {
    text-decoration: underline;
}
.main-contact-foto {
    text-align: center;
}
.main-contact-foto a {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 30px;
}
.contact-bottom-dashed {
    border-bottom: 1px dotted #0074b8;
}
.main-contact-foto img {
    width: 60%;
}
#button-up {
    display: none;
    right: 0;
    margin: 0;
    position: fixed;
    bottom: 67px;
    outline: none;
    width: 57px;
    color: #333333;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 0 0 28px;
    background: url(../images/scrolltop.png) no-repeat 7px 11px transparent;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    cursor: pointer;
    z-index: 9;
    background-size: 50px;
}
#button-up span {
    display: block;
    width: 56px;
    height: 66px;
}
.header-double-logo {
    display: flex;
    align-items: center;
}
.header-double-img img {
    width: 100px;
}
.header-map-time {
    text-align: right;
}
.header-double-text {
    margin-right: 10px;
    color: #0074b8;
    font-weight: bold;
    font-size: 30px;
}
.header-double-text p {
    font-size: 15px;
}
.iconblock-7 a {
    padding: 10px 20px;
    border: 2px solid #0074b8;
    background-color: #0074b8;
    color: #fff;
    border-radius: 4px;
}
.iconblock-7 a:hover {
    color: #0074b8;
    background-color: #fff;
}
.iconblock-title-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.iconblock-7 p {
    font-weight: bold;
}
.offices-item {
    padding: 30px 0;
    border-bottom: 1px solid #0074b8;
}
.offices-item-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.offices-image-block, .offices-information {
    width: 49%;
}
.offices-image-block img {
    width: 100%;
}
.offices-page-block {
    margin-bottom: 60px;
}
.offices-information .button-center {
    text-align: left;
    margin-top: 30px;
}
.certificates-title {
    overflow: hidden;
    text-align: center;
    margin-bottom: 48px;
}
.certificates-title h3 {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.certificates-title:before, .certificates-title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    position: relative;
    background-color: #e7e7e7;
}
.certificates-title:before {
    margin-left: -100%;
    left: -14px;
}
.certificates-title:after {
    margin-right: -100%;
    right: -14px;
}
.galery-flex-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-right: -20px;
}
.galery-item {
    width: 18.2%;
    margin: 0 20px 20px 0;
}
.galery-item img {
    width: 100%;
}
.delivery-image img {
    width: 400px;
}
.delivery-image {
    float: left;
    margin: 0 20px 20px 0;
}
.delivery-block {
    margin-bottom: 40px;
}
.delivery-price-block td{
    padding: 5px;
}
.delivery-price-block tr:hover {
    background-color: rgba(0, 112, 184, 0.06);
}
.color-border-block {
    padding: 14px;
    border: 2px solid rgba(0, 112, 184, 2);
    margin-top: 30px;
}
.catalog-goods {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    flex-wrap: wrap;
}
.catalog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 24%;
    padding: 10px;
    border: 1px solid #0074b8;
    border-radius: 4px;
}
.catalog-image {
    position: relative;
}
.catalog-image img {
    width: 100%;
}
.catalog-title {
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
    height: 58px;
}
.main-site-btn {
    background-color: #0074b8;
    padding: 10px;
    color: #fff;
    border: 2px solid #0074b8;
    border-radius: 4px;
    display: block;
    width: 100%;
}
.main-site-btn:hover {
    background-color: #fff;
    color: #0074b8;
}
.catalog-btn {
    width: 100%;
}
.modal-description {
    font-size: 14px;
}
.montage-image {
    float: right;
    margin: 0 0 20px 20px;
}
.montage-image img {
    width: 600px;
}
.call-manager-block {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.call-manager-info, .tab-content {
    width: 50%;
}
.call-manager-title {
    font-size: 32px;
    margin-bottom: 30px;
}
.call-manager-input input {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}
.tab-pane img {
    width: 100%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #0074b8;
}
.nav-tabs > li > a {
    border: none;
}
.nav-tabs {
    border-bottom: none;
    margin-bottom: 30px;
}
@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
}
@media(max-width: 1199px) {

}
@media (max-width: 991px) {
    .header-flex-block {
        flex-wrap: wrap;
    }
    .header-contact-block {
        width: 100%;
        margin-top: 20px;
    }
    .header-contact-block a {
        text-align: center;
    }
    .footer-flex-block {
        flex-wrap: wrap;
    }
    .footer-logo {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .header-map-time {
        text-align: left;
    }
    .catalog-item {
        width: 32%;
    }
    .montage-image img {
        width: 350px;
    }
}
@media(max-width: 767px) {
    .navbar-toggle, .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #0074b8;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .catalog-good-item {
        width: 48%;
    }
    .header-logo-block {
        text-align: center;
    }
    .header-logo-block img {
        width: 50%;
        margin-bottom: 20px;
    }
    .contact-tel-block {
        flex-direction: column;
    }
    .contact-col-block {
        width: 100%;
    }
    .main-contact-foto img {
        width: 100%;
    }
    .header-double-logo {
        width: 100%;
        justify-content: center;
    }
    .header-contact-block {
        margin: 5px 0 20px 0;
    }
    .header-map-address {
        text-align: center;
    }
    .header-map-time {
        text-align: center;
    }
    .iconblock-7 a {
        margin-bottom: 20px;
    }
    .offices-item-flex {
        flex-direction: column;
    }
    .offices-image-block, .offices-information {
        width: 100%;
    }
    .offices-image-block {
        margin-bottom: 20px;
    }
    .galery-flex-block {
        justify-content: space-between;
        margin-right: 0;
    }
    .galery-item {
        width: 48%;
        margin-right: 0;
    }
    .delivery-image {
        margin: 0 0 20px 0;
    }
    .delivery-image img {
        width: 100%;
    }
    .catalog-item {
        width: 48%;
    }
    .montage-image img {
        width: 100%;
    }
}
@media(max-width: 450px) {
    .catalog-good-item {
        width: 100%;
    }
    .header-logo-block img {
        width: 100%;
    }
    .delivery-price-block td {
        padding: 5px 0;
        font-size: 13px;
    }
    .catalog-item {
        width: 100%;
    }
    .button-montage a {
        font-size: 13px;
    }
    .call-manager-info, .tab-content {
        width: 100%;
    }
    .call-manager-block {
        flex-wrap: wrap;
    }
}