body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
a, button {
    transition: all .2s linear;
}
a:focus {
    text-decoration: none;
}
a:hover {
    color: #0070b8;
    text-decoration: none;
}
.main-header-page {
    padding: 20px 0;
    border-bottom: 4px solid #0070b8;
}
.header-logo-block img {
    width: 222px;
}